html,
body {
  overflow: hidden;
}

* {
  touch-action: manipulation;

  -webkit-tap-highlight-color: transparent; /* Modern syntax */
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); /* Fallback for older engines */

  user-select: none;
  -webkit-user-select: none;
}

.mainAxis,
.crossAxis {
  display: flex;
}

:dir(ltr) {
  --flex-direction-lrt: row;
  --flex-direction-rtl: row-reverse;
}
:dir(rtl) {
  --flex-direction-lrt: row-reverse;
  --flex-direction-rtl: row;
}

.crossAxis {
  align-items: center;
}

bw-app-hub {
  width: 100%;
  height: 100dvh;
}

bw-app-hub > * {
}

:root {
  --header-padding-left-base: var(--wa-space-2xs);
  --header-padding-right-base: var(--wa-space-2xs);
  --header-padding-top-base: 0px;
  --header-padding-bottom-base: 0px;
  --header-padding-left-extra: 0px;
  --header-padding-right-extra: 0px;
  --header-padding-top-extra: 0px;
  --header-padding-bottom-extra: 0px;
  --header-padding-left-safe: 0px;
  --header-padding-right-safe: 0px;
  --header-padding-top-safe: 0px;
  --header-padding-bottom-safe: 0px;

  --header-padding-side-delta: calc(
    var(--header-padding-right-safe) - var(--header-padding-left-safe)
  );

  --main-padding-left-base: var(--wa-space-xs);
  --main-padding-right-base: var(--wa-space-xs);
  --main-padding-top-base: 0px;
  --main-padding-bottom-base: 0px;
  --main-padding-left-extra: 0px;
  --main-padding-right-extra: 0px;
  --main-padding-top-extra: 0px;
  --main-padding-bottom-extra: 0px;
  --main-padding-left-safe: 0px;
  --main-padding-right-safe: 0px;
  --main-padding-top-safe: 0px;
  --main-padding-bottom-safe: 0px;
}

#main {
  overflow-y: scroll;
  touch-action: pan-x pan-y;
  flex: 1;

  padding-left: calc(
    var(--main-padding-left-base) + var(--main-padding-left-extra)
  );
  padding-right: calc(
    var(--main-padding-right-base) + var(--main-padding-right-extra)
  );
  padding-top: calc(
    var(--main-padding-top-base) + var(--main-padding-top-extra)
  );
  padding-bottom: calc(
    var(--main-padding-bottom-base) + var(--main-padding-bottom-extra)
  );
}
#header {
  flex: 0 0 auto;
  background-color: var(--wa-color-surface-default);
  justify-content: space-between;
  touch-action: pan-x pan-y;

  padding-left: calc(
    var(--header-padding-left-base) + var(--header-padding-left-extra)
  );
  padding-right: calc(
    var(--header-padding-right-base) + var(--header-padding-right-extra)
  );
  padding-top: calc(
    var(--header-padding-top-base) + var(--header-padding-top-extra)
  );
  padding-bottom: calc(
    var(--header-padding-bottom-base) + var(--header-padding-bottom-extra)
  );
}

@media (orientation: landscape) {
  :root {
    --header-padding-top-extra: var(--wa-space-2xs);
  }
  #nav {
    /* gap: var(--wa-space-2xs); */
  }
}

@media (orientation: portrait) {
  @media (max-width: 4in) {
    #menu {
      display: none;
    }
  }
}
@media (orientation: landscape) {
  @media (max-height: 3in) {
    #menu {
      display: none;
    }
  }
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
  :root {
    --header-padding-bottom-extra: calc(
      env(safe-area-inset-bottom) - var(--wa-space-2xs)
    );
  }
}
@supports (padding-top: env(safe-area-inset-top)) {
  :root {
    --main-padding-top-extra: calc(
      env(safe-area-inset-top) - var(--wa-space-xl)
    );
  }
}

/* touch screens */
@media (pointer: coarse) {
  @media (orientation: landscape) {
    /* vertical nav on right */
    .mainAxis {
      flex-direction: var(--flex-direction-rtl);
    }
    .crossAxis {
      flex-direction: column;
    }

    html[data-anchor-nav][data-screen-orientation-type="landscape-secondary"]
      .mainAxis,
    html[data-left-handed]:not([data-anchor-nav]) .mainAxis {
      /* vertical nav on left */
      flex-direction: var(--flex-direction-lrt);
    }

    @supports (padding-right: env(safe-area-inset-right)) {
      :root {
        --header-padding-right-safe: max(
          env(safe-area-inset-right) - var(--wa-space-m),
          0px
        );
        --main-padding-right-safe: max(
          env(safe-area-inset-right) - var(--wa-space-m),
          0px
        );
      }
    }
    @supports (padding-left: env(safe-area-inset-left)) {
      :root {
        --header-padding-left-safe: max(
          env(safe-area-inset-left) - var(--wa-space-m),
          0px
        );
        --main-padding-left-safe: max(
          env(safe-area-inset-left) - var(--wa-space-m),
          0px
        );
      }
    }

    html[data-screen-orientation-type="landscape-secondary"]:not(
        [data-left-handed],
        [data-anchor-nav]
      ) {
      --header-padding-right-extra: var(--header-padding-right-safe);
    }

    html[data-screen-orientation-type="landscape-primary"]:not(
        [data-anchor-nav]
      )[data-left-handed] {
      --header-padding-left-extra: var(--header-padding-left-safe);
    }

    html[data-screen-orientation-type="landscape-secondary"]:is(
        [data-left-handed],
        [data-anchor-nav]
      ) {
      --main-padding-right-extra: var(--main-padding-right-safe);
    }

    html[data-screen-orientation-type="landscape-primary"]:is(
        [data-anchor-nav],
        :not([data-left-handed])
      ) {
      --main-padding-left-extra: var(--main-padding-left-safe);
    }

    @media (min-height: 5in) {
      #header {
        /* reverse nav for large phones/tablets held sideways - assume on a stand */
        flex-direction: column-reverse;
        /* justify-content: center; */
      }
    }
  }

  @media (orientation: portrait) {
    /* horizontal nav on bottom */
    .mainAxis {
      flex-direction: column-reverse;
    }
    .crossAxis {
      flex-direction: var(--flex-direction-rtl);
    }

    html[data-left-handed] .crossAxis {
      /* reversed horizontal nav on bottom */
      flex-direction: var(--flex-direction-lrt);
    }

    @media (max-width: 4in) {
      #nav {
        justify-content: space-evenly;
      }
    }
  }
}

/* non-touch screens */
@media (pointer: fine) {
  @media (orientation: landscape) {
    /* vertical nav on left */
    .crossAxis {
      flex-direction: column;
    }
    .mainAxis {
      flex-direction: row;
    }
  }

  @media (orientation: portrait) {
    /* horizontal nav on top */
    .crossAxis {
      flex-direction: row;
    }
    .mainAxis {
      flex-direction: column;
    }
  }
}

/* BACKGROUND COLORS */

html,
#main {
  background-color: var(--background-color);
}

html {
  --background-color: var(--wa-color-neutral-fill-quiet);
}

html[data-active-tab="settings"] {
  --background-color: var(--wa-color-neutral-fill-quiet);
}

html[data-active-tab="layers"] {
  --background-color: hsl(
    from var(--wa-color-success-fill-quiet) h calc(s * 0.2) l
  );
}

html[data-active-tab="apps"] {
  --background-color: hsl(
    from var(--wa-color-warning-fill-quiet) h calc(s * 0.1) l
  );
}

html[data-active-tab="devices"] {
  --background-color: hsl(
    from var(--wa-color-brand-fill-quiet) h calc(s * 0.4) l
  );
}

/* VIEW TRANSITIONS */

::view-transition-group(*),
::view-transition-image-pair(*),
::view-transition-old(*),
::view-transition-new(*) {
  pointer-events: none;
}
::view-transition {
  pointer-events: none;
}

:root {
  view-transition-name: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

html[data-disable-view-transitions]:active-view-transition {
  &::view-transition-group(*),
  &::view-transition-old(*),
  &::view-transition-new(*) {
    animation: none !important;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:active-view-transition {
    &::view-transition-group(*),
    &::view-transition-old(*),
    &::view-transition-new(*) {
      animation: none !important;
    }
  }
}

html:active-view-transition {
  :root {
    view-transition-name: none;
  }
}

/* PREVIOUS/NEXT TAB VIEW TRANSITIONS */

html:active-view-transition-type(previous-tab, next-tab) {
  #header {
    view-transition-name: header;
  }
  &::view-transition-group(header) {
    animation: none;
    z-index: 1;
  }

  #main {
    view-transition-name: main;
  }
  &::view-transition-group(main) {
    z-index: 0;
    animation-duration: 300ms;
    animation-timing-function: ease;
  }
}

html:active-view-transition-type(previous-tab) {
  --previous-tab-main-old-animation-name: none;
  --previous-tab-main-new-animation-name: none;

  &::view-transition-old(main) {
    animation-name: var(--previous-tab-main-old-animation-name);
  }
  &::view-transition-new(main) {
    animation-name: var(--previous-tab-main-new-animation-name);
  }
}

html:active-view-transition-type(next-tab) {
  --next-tab-main-old-animation-name: none;
  --next-tab-main-new-animation-name: none;

  &::view-transition-old(main) {
    animation-name: var(--next-tab-main-old-animation-name);
  }
  &::view-transition-new(main) {
    animation-name: var(--next-tab-main-new-animation-name);
  }
}

/* touch screens */
@media (pointer: coarse) {
  @media (orientation: landscape) {
    /* vertical nav */
    html:active-view-transition-type(previous-tab) {
      --previous-tab-main-old-animation-name: slide-out-to-bottom;
      --previous-tab-main-new-animation-name: slide-in-from-top;
    }
    html:active-view-transition-type(next-tab) {
      --next-tab-main-old-animation-name: slide-out-to-top;
      --next-tab-main-new-animation-name: slide-in-from-bottom;
    }
  }

  @media (orientation: portrait) {
    /* horizontal nav on bottom */
    html:active-view-transition-type(previous-tab) {
      --previous-tab-main-old-animation-name: slide-out-to-left;
      --previous-tab-main-new-animation-name: slide-in-from-right;
    }
    html:active-view-transition-type(next-tab) {
      --next-tab-main-old-animation-name: slide-out-to-right;
      --next-tab-main-new-animation-name: slide-in-from-left;
    }

    /* reversed horizontal nav on bottom */
    html[data-left-handed]:active-view-transition-type(previous-tab) {
      --previous-tab-main-old-animation-name: slide-out-to-right;
      --previous-tab-main-new-animation-name: slide-in-from-left;
    }
    html[data-left-handed]:active-view-transition-type(next-tab) {
      --next-tab-main-old-animation-name: slide-out-to-left;
      --next-tab-main-new-animation-name: slide-in-from-right;
    }
  }
}

/* non-touch screens */
@media (pointer: fine) {
  @media (orientation: landscape) {
    /* vertical nav on left */
    html:active-view-transition-type(previous-tab) {
      --previous-tab-main-old-animation-name: slide-out-to-bottom;
      --previous-tab-main-new-animation-name: slide-in-from-top;
    }
    html:active-view-transition-type(next-tab) {
      --next-tab-main-old-animation-name: slide-out-to-top;
      --next-tab-main-new-animation-name: slide-in-from-bottom;
    }
  }

  @media (orientation: portrait) {
    /* horizontal nav on top */
    html:active-view-transition-type(previous-tab) {
      --previous-tab-main-old-animation-name: slide-out-to-right;
      --previous-tab-main-new-animation-name: slide-in-from-left;
    }
    html:active-view-transition-type(next-tab) {
      --next-tab-main-old-animation-name: slide-out-to-left;
      --next-tab-main-new-animation-name: slide-in-from-right;
    }
  }
}

@keyframes slide-out-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide-out-to-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes slide-out-to-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes slide-out-to-bottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-in-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-in-from-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slide-in-from-bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* LEFT/RIGHT HANDED VIEW TRANSITIONS  */

html:active-view-transition-type(right-handed, left-handed) {
  --animation-duration: 300ms;
  --animation-timing-function: ease;

  @media (pointer: coarse) {
    @media (orientation: landscape) {
      #header {
        view-transition-name: header;
      }
      &::view-transition-group(header) {
        z-index: 1;
        animation: none;
      }
      &::view-transition-old(header),
      &::view-transition-new(header) {
        animation-duration: var(--animation-duration);
        animation-timing-function: var(--animation-timing-function);
        width: fit-content;
      }

      #main {
        view-transition-name: main;
      }
      &::view-transition-group(main) {
        z-index: 0;
        animation: none;
      }
      &::view-transition-old(main),
      &::view-transition-new(main) {
        animation-duration: var(--animation-duration);
        animation-timing-function: var(--animation-timing-function);
        width: fit-content;
      }
    }

    @media (orientation: portrait) {
      bw-nav-button-layers {
        view-transition-name: bw-nav-button-layers;
      }
      bw-nav-button-apps {
        view-transition-name: bw-nav-button-apps;
      }
      bw-nav-button-devices {
        view-transition-name: bw-nav-button-devices;
      }
      bw-nav-button-settings {
        view-transition-name: bw-nav-button-settings;
      }
      bw-nav-button-flip {
        view-transition-name: bw-nav-button-flip;
      }
      #header > :is(nav, menu) > * {
        view-transition-class: bw-header-button;
        z-index: 1;
        background-color: var(--wa-color-surface-default);
      }
      #header > nav > * {
        view-transition-class: bw-nav-button;
      }
      #header > menu > * {
        view-transition-class: bw-menu-button;
      }
    }
  }
}

html:active-view-transition-type(left-handed) {
  --left-handed-header-old-animation-name: none;
  --left-handed-header-new-animation-name: none;

  &::view-transition-old(header) {
    animation-name: var(--left-handed-header-old-animation-name);
  }
  &::view-transition-new(header) {
    animation-name: var(--left-handed-header-new-animation-name);
  }

  --left-handed-main-old-animation-name: none;
  --left-handed-main-new-animation-name: none;
  &::view-transition-old(main) {
    animation-name: var(--left-handed-main-old-animation-name);
  }
  &::view-transition-new(main) {
    animation-name: var(--left-handed-main-new-animation-name);
  }

  --left-handed-menu-old-animation-name: none;
  --left-handed-menu-new-animation-name: none;
  &::view-transition-old(menu) {
    animation-name: var(--left-handed-menu-old-animation-name);
  }
  &::view-transition-new(menu) {
    animation-name: var(--left-handed-menu-new-animation-name);
  }
}

html:active-view-transition-type(right-handed) {
  --right-handed-header-old-animation-name: none;
  --right-handed-header-new-animation-name: none;
  &::view-transition-old(header) {
    animation-name: var(--right-handed-header-old-animation-name);
    right: var(--header-padding-side-delta);
  }
  &::view-transition-new(header) {
    animation-name: var(--right-handed-header-new-animation-name);
  }

  --right-handed-main-old-animation-name: none;
  --right-handed-main-new-animation-name: none;
  &::view-transition-old(main) {
    animation-name: var(--right-handed-main-old-animation-name);
  }
  &::view-transition-new(main) {
    animation-name: var(--right-handed-main-new-animation-name);
  }

  --right-handed-menu-old-animation-name: none;
  --right-handed-menu-new-animation-name: none;
  &::view-transition-old(menu) {
    animation-name: var(--right-handed-menu-old-animation-name);
  }
  &::view-transition-new(menu) {
    animation-name: var(--right-handed-menu-new-animation-name);
  }
}

html:active-view-transition-type(right-handed, left-handed) {
  @media (pointer: coarse) {
    @media (orientation: landscape) {
      &:active-view-transition-type(right-handed) {
        --right-handed-header-old-animation-name: slide-out-to-left-from-right-header;
        --right-handed-header-new-animation-name: slide-in-from-right-header;

        --right-handed-main-new-animation-name: slide-in-to-left-main;
      }
      &:active-view-transition-type(left-handed) {
        --left-handed-header-old-animation-name: slide-out-to-right-from-left-header;
        --left-handed-header-new-animation-name: slide-in-from-left-header;

        --left-handed-main-new-animation-name: slide-in-to-right-main;
      }
    }

    @media (orientation: portrait) {
      /* FILL - specify animation name */
    }
  }
}

@keyframes slide-out-to-left-from-right-header {
  from {
    transform: translateX(calc(-100dvw + 100%));
  }
  to {
    transform: translateX(-100dvw);
  }
}
@keyframes slide-out-to-right-from-left-header {
  from {
    transform: translateX(calc(100dvw - 100%));
  }
  to {
    transform: translateX(calc(100dvw + var(--header-padding-side-delta)));
  }
}
@keyframes slide-in-from-right-header {
  from {
    transform: translateX(calc(100% + var(--header-padding-side-delta)));
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-in-from-left-header {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-to-left-main {
  from {
    transform: translateX(
      calc(100dvw - 100% - var(--header-padding-right-extra))
    );
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-in-to-right-main {
  from {
    transform: translateX(
      calc(-100dvw + 100% + var(--header-padding-left-extra))
    );
  }
  to {
    transform: translateX(0);
  }
}
