bw-app-hub {
  width: 100%;
  height: 100%;
  display: flex;
}

#main {
  overflow-y: scroll;
  padding-left: var(--wa-space-s);
  touch-action: pan-x pan-y;
  flex: 1;
}

bw-nav {
  background-color: var(--wa-color-surface-default);
  touch-action: none;

  display: flex;
  flex: 0 0 auto;
  flex-direction: var(--nav-flex-direction);
  align-items: center;
  gap: var(--wa-space-2xs);

  /* TODO: - different justify-content for different screen sizes */
}

@media (orientation: landscape) {
  bw-nav {
    padding-top: var(--wa-space-2xs);
  }
}

/* touch screens */
@media (pointer: coarse) {
  @media (orientation: landscape) {
    bw-app-hub {
      flex-direction: row-reverse;
    }

    bw-nav {
      flex-direction: column;
    }

    bw-app-hub[data-anchor-nav][data-screen-orientation-type="landscape-secondary"],
    bw-app-hub[data-left-handed]:not([data-anchor-nav]) {
      flex-direction: row;
    }

    @supports (padding-left: env(safe-area-inset-left)) {
      bw-app-hub[data-screen-orientation-type="landscape-secondary"]:not(
          [data-left-handed],
          [data-anchor-nav]
        )
        bw-nav {
        padding-right: calc(env(safe-area-inset-right) - var(--wa-space-s));
      }

      bw-app-hub[data-screen-orientation-type="landscape-primary"]:not(
          [data-anchor-nav]
        )[data-left-handed]
        bw-nav {
        padding-left: max(
          var(--wa-space-s),
          calc(env(safe-area-inset-left) - var(--wa-space-s))
        );
      }

      bw-app-hub[data-screen-orientation-type="landscape-secondary"]:is(
          [data-left-handed],
          [data-anchor-nav]
        )
        #main {
        padding-right: calc(env(safe-area-inset-right) - var(--wa-space-s));
      }

      bw-app-hub[data-screen-orientation-type="landscape-primary"]:is(
          [data-anchor-nav],
          :not([data-left-handed])
        )
        #main {
        padding-left: max(
          var(--wa-space-s),
          calc(env(safe-area-inset-left) - var(--wa-space-xs))
        );
      }
    }

    @media (min-height: 5in) {
      bw-nav {
        /* "center" or "end" for large phones/tablets held sideways */
        justify-content: center;
      }
    }
  }

  @media (orientation: portrait) {
    bw-app-hub {
      flex-direction: column-reverse;
    }

    bw-nav {
      flex-direction: row-reverse;
    }

    bw-app-hub[data-left-handed] bw-nav {
      flex-direction: row;
    }

    @media (max-width: 4in) {
      bw-nav {
        justify-content: space-evenly;
      }
    }
  }
}

/* non-touch screens */
@media (pointer: fine) {
  @media (orientation: landscape) {
    bw-app-hub {
      flex-direction: row;
    }

    bw-nav {
      flex-direction: column;
    }
  }

  @media (orientation: portrait) {
    bw-app-hub {
      flex-direction: column;
    }
    bw-nav {
      flex-direction: row;
    }
  }
}

/* BACKGROUND COLORS */
html,
#main {
  background-color: var(--background-color);
}

html {
  --background-color: var(--wa-color-neutral-fill-quiet);
}

html[data-active-tab="settings"] {
  --background-color: var(--wa-color-neutral-fill-quiet);
}

html[data-active-tab="layers"] {
  --background-color: hsl(
    from var(--wa-color-success-fill-quiet) h calc(s * 0.2) l
  );
}

html[data-active-tab="apps"] {
  --background-color: hsl(
    from var(--wa-color-warning-fill-quiet) h calc(s * 0.1) l
  );
}

html[data-active-tab="devices"] {
  --background-color: hsl(
    from var(--wa-color-brand-fill-quiet) h calc(s * 0.4) l
  );
}

/* VIEW TRANSITIONS */

html:active-view-transition:has(bw-app-hub[data-disable-view-transitions]) {
  &::view-transition-group(*),
  &::view-transition-old(*),
  &::view-transition-new(*) {
    animation: none !important;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:active-view-transition {
    &::view-transition-group(*),
    &::view-transition-old(*),
    &::view-transition-new(*) {
      animation: none !important;
    }
  }
}

html:active-view-transition {
  :root {
    view-transition-name: none;
  }

  bw-nav {
    view-transition-name: nav;
  }
  &::view-transition-group(nav) {
    animation: none;
    z-index: 1;
  }

  #main {
    view-transition-name: main;
  }
  &::view-transition-group(main) {
    z-index: 0;
    animation-duration: 300ms;
    animation-timing-function: ease;
  }
}

html:active-view-transition-type(previous-tab) {
  &::view-transition-old(main) {
    animation-name: slide-out-to-right;
  }
  &::view-transition-new(main) {
    animation-name: slide-in-from-left;
  }
}
html:active-view-transition-type(next-tab) {
  &::view-transition-old(main) {
    animation-name: slide-out-to-left;
  }
  &::view-transition-new(main) {
    animation-name: slide-in-from-right;
  }
}

@keyframes slide-out-to-left {
  from {
    right: 0%;
  }
  to {
    right: 100%;
  }
}
@keyframes slide-out-to-right {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
@keyframes slide-out-to-top {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}
@keyframes slide-out-to-bottom {
  from {
    bottom: 0%;
  }
  to {
    bottom: 100%;
  }
}

@keyframes slide-in-from-right {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
@keyframes slide-in-from-left {
  from {
    right: 100%;
  }
  to {
    right: 0%;
  }
}
@keyframes slide-in-from-top {
  from {
    top: 100%;
  }
  to {
    top: 0%;
  }
}
@keyframes slide-in-from-bottom {
  from {
    bottom: 100%;
  }
  to {
    bottom: 0%;
  }
}
